
/*Navigation bar*/
nav {
    padding: 4px;
}
nav ul {
    margin-left: 0px;
    text-align: center;
}
nav ul li {
    display: inline;
    margin: 0;
}

/*ID's*/
#nav1 {
    position: absolute;
    top: 0%;
    left: 0%;
    li{
        font-size: large;
    }
    ul li a {
        color: rgb(255, 255, 255);
        background-color: rgba(12, 129, 129, 0.764);
        text-decoration: none;
    
        border-right-color: black;
        border-right-width: 2px;
        border-right-style: solid;
        
        padding: 5px;
        margin: 0;
    }
    ul li a:hover {
        background-color: #00ffdd;
    }
}
#nav2 {
    position: relative;
}
#contacticons {
    scale: 0.7;
}
#contacticons:hover {
    transform: scale(1.2);
}
#home {
    position: static;

}
#about {
    position: static;
}
#services {
    position: static;
}
#contact {
    padding: auto;
    h2{
        text-decoration-line: underline;
        font-size: 30px;
    }
}

/*Classes*/

/*Elements*/
header {
    text-align: center;
    align-items: center;

    background-color:rgba(12, 129, 129, 0.51);
    color:antiquewhite;

    padding: 15px;
    margin: auto;
}
a {
    text-decoration: none;
}
body {
    font-size: 100%;
    background-image: url("Images/BGImage.png");
    background-size: cover;
}
h1 {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    text-shadow:  6px -6px 5px black;
    text-decoration-thickness: 2px;
    font-size: 600%;
    font-variant: small-caps;
}
footer {
    align-items: center;

    background-color:black;
    color:white;

    position: fixed;
    width: 100%;

    padding: 30px;
    bottom: 0;
    left: 0;
}